a {
    -webkit-transition: color 1s;
    transition: color 0.5s;
    color: black;
    text-decoration: none;
}
        a:hover {
          color: rgb(97, 7, 207);
          text-decoration: underline rgb(85, 116, 145) ;
          text-underline-offset: 0.3em;
          
        }
        .rotate {
animation: rotation 8s infinite alternate;
}

@keyframes rotation {
from {
transform: rotate(30deg);
}
to {
transform: rotate(120deg);
}
}

@keyframes eyeanimation {
0%   {margin-top: 0%;}
25%  {margin-top: 5%;}
50%  {margin-top: 10%;}
75% { margin-top: 5%;}
100% {margin-top: 0%;}
}

#eye {
animation-name: eyeanimation;
animation-duration: 8s;
animation-delay: 0;
animation-iteration-count: infinite;

}
.face
{
    position: absolute;
    top: 15px;
    left: 0px;
    width: 40px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes .eye
{
    position: relative;
    width: 25px;
    height: 20px;
    display: block;
    background: rgb(0, 0, 0);
    margin: 0 15px;
    border-radius: 50%;
}
.eyes .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
